.card-content {
  position: relative;

  .text-centered {
    display: flex;
    justify-content: center;
  }

  .collapse-button {
    padding-top: 5px;
  }



  .slot-content--hidden {
    overflow-y: hidden;
    position: relative;
  }
}
