.card-content {
  position: relative;

  .card__read-more {
    position: absolute;
    bottom: 0;
    border: 3px solid orange;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
  }
}
