$border-color: #DEDEDE;
$white-color: #ffffff;
$font-size-small: 13px;
$z-index-nav-dropdown: 2;
$nav-height: 52px;
$nav-padding-bottom: 17px;

//--rg-breakpoint-small: 576px;
//--rg-breakpoint-medium: 768px;
//--rg-breakpoint-large: 992px;
