$primary-color: #BF9E44;
$border-color: #DEDEDE;
$white-color: #ffffff;
$black-color: #000000;

$font-size-small: 13px;
$z-index-nav-dropdown: 1000;
$z-index-mobile-side-nav: 1000;
$nav-padding-bottom: 17px;
$nav-padding-sides: 30px;

$breakpoint-large: 992px;
$breakpoint-medium: 768px;
$breakpoint-small: 576px;
