:host {
  a, button {
    text-decoration: none;
    box-shadow: 2px 2px 8px 0 rgba(0,0,0,.2);
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 4px;
    height: 32px;
    min-width: 64px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: $black-color;
  }
}

//@import '@material/button/mdc-button';

//.mdc-button__label {
//  display: flex;
//  align-items: center;
//}

