:host {
  --mdc-theme-primary: $white-color;
  --mdc-theme-on-primary: $black-color;

  .small {
    min-width: auto;
  }
}

@import '@material/button/mdc-button';

.mdc-button__label {
  display: flex;
  align-items: center;
}

