:host {
  width: 100%;
}

nav {
  border-top: 1px solid var(--rg-border-color);
  border-bottom: 1px solid var(--rg-border-color);
  display: flex;
  justify-content: center;
  flex-direction: column;
}
