:host {
  height: $category-card-desktop-height;

  &.is-compact {
    height: $category-card-mobile-height;
  }

  @include media-max-width-medium() {
    height: $category-card-mobile-height;
    position: relative;
  }

  background-size: cover;
}

@mixin wrapperCommon() {
  float: right;
  width: 33%;
  height: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $gray-color-transparent;
}

@mixin wrapperBefore($borderWidth) {
  &:before {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: $borderWidth;
    border-color: transparent $gray-color-transparent;
    display: block;
    width: 0;
    z-index: 0;
    left: -80px;
    top: 0;
    bottom: 0;
  }
}

.card-item {
  &-wrapper {
    @include wrapperCommon;
    @include wrapperBefore(287px 80px 0 0);
  }

  &-wrapper--compact {
    @include wrapperCommon;
    @include wrapperBefore(200px 80px 0 0);
  }

  &__text {
    position: relative;
    left: -15px;
    font-size: $font-size-large;
    line-height: 1.2;
    font-weight: $font-weight-bold;
    text-align: center;
    color: $black-color;
    margin: 0 0 10px;
  }

  &__subtitle {
    position: relative;

    &.active {
      color: $primary-color;
    }

    color: $black-color;
    line-height: 1.2;
    font-weight: $font-weight-bold;
    font-size: $font-size-small-large;
    margin: 0 0 10px;

    rg-icon {
      position: absolute;
      top: -4px;
    }
  }

  @include media-max-width-medium() {
    &-wrapper, &-wrapper--compact {
      width: 100%;
      height: auto;
      position: absolute;
      bottom: 0;
      float: none;

      &:before {
        display: none;
      }
    }

    &__text {
      position: static;
      margin: 15px 0;
    }
  }
}
