:host {
  width: 100%;
}

nav {
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  padding-top: 5px;
  padding-bottom: 5px;
  position: relative;

  -webkit-box-shadow: 0px 2px 5px 0px rgba(163,157,163,0.49);
  -moz-box-shadow: 0px 2px 5px 0px rgba(163,157,163,0.49);
  box-shadow: 0px 2px 5px 0px rgba(163,157,163,0.49);

  @include media-min-width-large() {
    height: $nav-height;
  }

  .menu {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;

    .logo {
      display: flex;
      align-items: center;
      @include media-min-width-large() {
        padding-bottom: $nav-padding-bottom;
      }

      @include media-max-width-medium() {
        .anniversary {
          display: none;
        }
      }
    }

    .actions {
      margin-left: auto;
      @include media-min-width-large() {
        padding-bottom: $nav-padding-bottom;
      }
    }

    .menu-mobile {
      display: none;
      padding-right: 10px;
      @include media-max-width-large() {
        display: block;
      }
    }
  }
}

@include media-max-width-large() {
  rg-navigation-items-desktop {
    display: none;
  }
}
