rg-navigation-item {
  padding-left: 60px;
}

rg-navigation-dropdown-desktop {
  position: absolute;
  width: 100%;
  left: 0;
}

ul {
  list-style-type: none;
  display: flex;
  width: 100%;
  justify-content: flex-start;
}
